@use "/src/sass/base/variables.scss" as v;

.hdr {
    position: relative;

    &__menu {
        position: fixed;
        padding: 50px 10px;
        z-index: 10;
        width: 100vw;
        height: 100vh;
        left: -100vw;
        top: 0;
        background-color: v.$light;
        transition: all 0.5s;

        &_active {
            transform: translateX(100%);
        }
    }

    &__menu-closed {
        cursor: pointer;
    }

    &__menu-nav {
        margin: 50px 0 0 14px;

        ul {
            display: flex;
            flex-direction: column;
            row-gap: 25px;
            padding: 0;
            list-style-type: none;
        }
    }

    &__menu-link {
        text-transform: uppercase;
        text-decoration: none;
        color: v.$dark;

    }

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__burger {
        margin-right: 35px;
        width: 20px;
        height: 20px;
    }

    &__logo {
        width: 100px;
        height: 100px;
    }

    &__icons {
        display: flex;
        column-gap: 15px;
        height: 20px;
    }

    &__nav {
        display: none;
    }

}

@media screen and (min-width: 768px) {
    .hdr {
        &__menu {
            display: none;
        }

        &__burger {
            visibility: hidden;
        }

        &__nav {
            display: block;
            margin-top: 20px;

            ul {
                display: flex;
                padding: 0;
                list-style-type: none;
                column-gap: 30px;
                justify-content: center;
            }
        }

        &__link {
            font-weight: 400;
            font-size: 20px;
            text-transform: uppercase;
            color: v.$dark;
            text-decoration: none;
        }
    }
}

@media screen and (min-width: 1800px) {
    .hdr {
        &__logo {
            width: 150px;
            height: 151px;
        }

        &__nav {
            margin-top: 36px;

            ul {
                column-gap: 60px;
            }
        }
    }
}